<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miem.mmkolpakov.coursework">

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCourseWork"
        android:hardwareAccelerated="true">
        <activity
            android:name="com.miem.mmkolpakov.coursework.SendDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar" />

        <service
            android:name="com.miem.mmkolpakov.coursework.BluetoothConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.miem.mmkolpakov.coursework.MusicService"
            android:enabled="true" />

        <activity
            android:name="com.miem.mmkolpakov.coursework.InstructionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar" />
        <activity
            android:name="com.miem.mmkolpakov.coursework.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>