<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmkolpakov.mycoursework">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCourseWork">
        <activity
            android:name="com.mmkolpakov.mycoursework.SendDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar" />

        <service
            android:name="com.mmkolpakov.mycoursework.BluetoothConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.mmkolpakov.mycoursework.MusicService"
            android:enabled="true" />

        <activity
            android:name="com.mmkolpakov.mycoursework.InstructionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar" />
        <activity
            android:name="com.mmkolpakov.mycoursework.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyCourseWork.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>